body {
  width: 400px;
  height: 600px;

  text-align: center;
  position: relative;
  margin-left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  background: rgb(255, 137, 137);

  background: linear-gradient(
    90deg,
    rgba(255, 137, 137, 1) 0%,
    rgba(255, 56, 56, 1) 0%,
    rgba(255, 81, 247, 1) 48%,
    rgba(255, 203, 0, 1) 100%
  );
  background: linear-gradient(269deg, #ff0000, #ff00f5, #ffab00);
  background-size: 600% 600%;

  -webkit-animation: shiftGradient 3s ease infinite;
  -moz-animation: shiftGradient 3s ease infinite;
  animation: shiftGradient 3s ease infinite;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  color: white;
}
body p {
  font-size: 190%;
}
body .hoverOver {
  font-size: 200%;
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}
.fileI {
  margin-left: 10%;
}
body h5 {
  font-size: 200%;
  margin-top: -3%;
}
body img {
  margin-left: 0%;
  text-align: left;
}

@-webkit-keyframes shiftGradient {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 46%;
  }
  100% {
    background-position: 0% 55%;
  }
}
@-moz-keyframes shiftGradient {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 46%;
  }
  100% {
    background-position: 0% 55%;
  }
}
@keyframes shiftGradient {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 46%;
  }
  100% {
    background-position: 0% 55%;
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid rgb(225, 0, 255);
  color: rgb(100, 190, 206);
  background-color: rgb(255, 237, 199);
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5%;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 25%;

  margin-left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ff00f2;
  outline: 0;
  font-size: 1.3rem;
  color: #ffffff;
  text-align: center;

  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  margin-left: -50%;
  width: 200px;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #08ffea, #efdd38);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  box-shadow: none;
}
/* demo */
@-webkit-keyframes color-change {
  0% {
    color: #5af26b;
  }
  50% {
    color: #5fdcf5;
  }
  100% {
    color: #5af26b;
  }
}
@-moz-keyframes color-change {
  0% {
    color: #5af26b;
  }
  50% {
    color: #5fdcf5;
  }
  100% {
    color: #5af26b;
  }
}
@-ms-keyframes color-change {
  0% {
    color: #5af26b;
  }
  50% {
    color: #5fdcf5;
  }
  100% {
    color: #5af26b;
  }
}
@-o-keyframes color-change {
  0% {
    color: #5af26b;
  }
  50% {
    color: #5fdcf5;
  }
  100% {
    color: #5af26b;
  }
}
@keyframes color-change {
  0% {
    color: #5af26b;
  }
  50% {
    color: #5fdcf5;
  }
  100% {
    color: #5af26b;
  }
}
